.logo{
  height: 30px;
  width: 250px;
  padding-left:  20px;
  padding-right: 1010px;
  padding-top: 5px;
  background-color: black;
}
body{
  margin: 0;
}
marquee{
  color: red;
  background-color: black;
position: relative;
bottom: 4px;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  margin-left: 110px;
  margin-top: 50px;
}

.left {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.one{
  background-size: cover;
  background-repeat: no-repeat;
  background: #FEDEFF;
  height: 280px;
  width: 180px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display:inline-block;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;

}
.two{
  background: #AEE2FF;
  height: 280px;
  width: 180px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display:inline-block;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;


}
.three{
  background: #F6E6C2;
  height: 140px;
  width: 280px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display:inline-block;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;


}
.four{
  background: red;
  height: 140px;
  width: 280px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display:inline-block;
  background-repeat: no-repeat;
  background-size: cover;

}

.five{
  background: #CDE990;
  height: 280px;
  width: 180px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display:inline-block;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;

}
.six{
  background: #1C6DD0;
  height: 280px;
  width: 180px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display:inline-block;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;

}
.foot{
  text-align: center;
  color: #fff;
  margin-left: 125px;
  margin-right: 110px;
  width: 80%;
  height: 40px;
  background: green;
  margin-top: 35px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.one:hover, .two:hover, .five:hover, .six:hover {

border-style: solid;
border-width: 2px;
border-color:  red;
    /* box-shadow:2px 4px  80px #064663; */

}
.three:hover, .four:hover{
    box-shadow:2px 4px  40px #064663;
}
h2{
  margin-top: 4px;
}
.foot:hover{
  background-color: #379237;
}
